*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/Manifest.toml
/test/Manifest.toml
/dev/
/docs/build/
/docs/site/

# Things in bench that shouldn't be tracked because they may contain large files.
bench/dev
bench/data
bench/plots
